<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .form-div {
            position:absolute;
            top: 30%;
            right: 40%;
            /* left: 50%; */
            text-align: center;
            
            overflow: hidden;
            }
        
        .form-field {
            width: 220px;
        }
        h2 {
            margin-bottom: 10px;
            text-align: left;
        }
    </style>
    <title>Register</title>
</head>
<body>
    <div class="form-div">
            <h2>Register: </h2>

            <form action="{{ url_for('user_register') }}", method="POST">
                    <input type="text", name="name", placeholder="Name", required, class="form-field">
                    <input type="text", name="username", placeholder="Username", required, class="form-field">
                    <br><br>
                    <input type="email" name="email", placeholder="Email", required, class="form-field">
                    <input type="password", name="password", placeholder="Password", required, class="form-field">
                    <br><br>
                    <input type="submit" value="Submit" style="float: right;">
            </form>

    </div>
    
</body>
</html>